.city_shadow {
    width: 200rem;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 70%;
    animation: move_shadow 50s ease infinite alternate;
    -webkit-animation: move_shadow 50s ease infinite alternate;
}

@keyframes move_shadow {
    0% {
        transform: translateX(20%);
        -webkit-transform: translateX(20%);
        -moz-transform: translateX(20%);
        -ms-transform: translateX(20%);
        -o-transform: translateX(20%);
    } 33% {
        transform: translateX(-20%);
        -webkit-transform: translateX(-20%);
        -moz-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
        -o-transform: translateX(-20%);
} 66% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
} 100% {
        transform: translateX(-40%);
        -webkit-transform: translateX(-80%);
        -moz-transform: translateX(-80%);
        -ms-transform: translateX(-80%);
        -o-transform: translateX(-80%);
    }
}

section.intro {
    padding-top: calc(var(--header-height) + 5rem);
}

.intro .logo {
    width: clamp(10rem, 91vw, 85rem);
    margin-inline: auto;
    display: block;
    position: relative;
    filter: drop-shadow(0 0 10rem var(--light));
}

.logo_ctnr {
    position: relative;
}

.intro .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

h1 {
    color: var(--dark-a);
    font-size: clamp(3rem, 18vw, 9.7rem);
    font-weight: 900;
    line-height: 0.85;
    max-width: var(--width-1);
}

.intro .content h2 {
    font-size: clamp(1rem, 7vw, 2.8rem);
    font-weight: 800;
    max-width: 70vw;
    line-height: 1.3;
}

.intro .content h2 span {
    color: var(--light);
    /* background-color: var(--dark-a); */
    font-weight: 600;
    padding: 0.2rem 1.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-flex;
    font-size: 0.9em;
}

.intro .color_bg {
    position: absolute;
    bottom: 0;
}

.intro .grain_shadow {
    position: absolute;
    width: clamp(10rem, 20vw, 50rem);
    height: clamp(10rem, 30vw, 40rem);
    bottom: 0;
    background-size: 120% 120%;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.intro .grainy_gradient {
    position: absolute;
    width: clamp(10rem, 20vw, 50rem);
    height: clamp(10rem, 30vw, 40rem);
    bottom: 0;
    background-size: 120% 120%;
    background-repeat: no-repeat;
    /* opacity: 0.6; */
}

.intro .grain_shadow.first {
    left: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


.intro .grain_shadow.second {
    transform: scaleY(-1);
    right: 0;
}

.intro .color_bg:first-of-type {
    background-color: var(--c5);
    width: calc(50vw - 10rem);
    height: clamp(10rem, 35vw, 35rem);
    clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
    left: 0;
}

.intro .color_bg:nth-of-type(2) {
    background-color: var(--c2);
    width: clamp(1rem, calc(45vw - 3rem), 67rem);
    height: clamp(10rem, 50vmin, 50rem);
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
    right: 0;
}
 
section.dark_bg {
    width: 100%;
    background-position: bottom;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light);
    font-weight: 500;
    padding-block: clamp(8rem, 10vw, 12rem) clamp(8rem, 10vw, 17rem);
    background-repeat: no-repeat;
    line-height: 1.5;
    font-size: clamp(1rem, 5.7vw, 3.1rem);
}

section.dark_bg .slice {
    position: absolute;
    background-size: 65rem;
    background-position: top;
    top: calc(clamp(1rem, 2vw, 2rem) * -1);
    width: 100%;
    height: 3rem;
}

section.dark_bg h2 {
    font-weight: 400;
    max-width: clamp(15rem, 75vw, 67rem);
    font-size: inherit;
}

section.dark_bg h2 strong:first-child {
    color: var(--c2);
}

section.dark_bg h2 strong:nth-child(2) {
    color: var(--c3);
}

section.dark_bg p {
    font-weight: 400;
    max-width: clamp(15rem, 85vw, 84rem);
}

section.dark_bg b, section.dark_bg strong {
    font-weight: 600;
}

.overflow_ctnr {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 98;
}


section.mission {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: -1rem;
}

.mission .grain_gradient {
    position: absolute;
    top: -5rem;
    left: 0;
    width: clamp(1rem, 50vw, 36rem);
    height: clamp(1rem, 80vw, 50rem);
    z-index: -1;
    background-size: cover;
    transform: rotate(-180deg);
    background-position: top left;
}

.mission .content {
    padding-block: clamp(3rem, 9vw, 11rem);
    margin-bottom: -15rem;
}

.mission h2 {
    color: var(--c3);
    font-weight: 800;
    font-size: clamp(3rem, 17vw, 11rem);
    line-height: 1;
    margin-bottom: clamp(2rem, 5vw, 4rem);
}

.mission h2 span {
    display: block;
    color: var(--dark);
    font-size: clamp(2rem, 5.5vw, 4rem);
    font-weight: 800;
}

.mission p, .baristas_platform p {
    margin-top: 1rem;
    font-size: clamp(1rem, 4vw, 2.4rem);
    font-weight: 500;
    line-height: 1.6;
}

.mission p {
    max-width: clamp(10rem, 81vw, 80rem);
}

.mission p b, .mission p strong, .baristas_platform p b, .baristas_platform p strong {
    font-weight: 700;
}

.mission .composition {
    width: clamp(10rem, 80vw, 90rem);
    height: clamp(10rem, 90vw, 90rem);
    position: relative;
    margin-left: auto;
    z-index: -1;
    overflow: hidden;
}

.mission .slice {
    position: absolute;
    left: 0;
    right: 0;
    height: clamp(3rem, 4vw, 4rem);
    width: 100%;
    bottom: 0;
}

.mission .composition .shapes, .mission .city {
    position: absolute;
    inset:0;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.mission .composition .shapes {
    background-size: cover;
}

.mission .city {
    bottom: -1rem;
    background-size: clamp(10rem, 70vw, 65rem);
}




section.baristas_platform {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    gap: clamp(2rem, 4vw, 6rem);
    margin-bottom: 6rem;
}

.baristas_platform .composition {
    width: clamp(10rem, 100vw, 80rem);
    position: relative;
}

.baristas_platform .composition img {
    width: 96%;
    transform: rotate(-1deg);
}

.baristas_platform .composition .shape {
    position: absolute;
    width: 80%;
    height: 100%;
    top: clamp(4rem, 10vw, 9rem);
    left: -28%;
    z-index: -1;
    background-size: 100% 100%;
    transform: rotate(-6deg);
}

.baristas_platform .content {
    flex: 1;
    max-width: clamp(15rem, 85vw, 67rem);
    min-width: clamp(15rem, 40vw, 60rem);
    padding-top: clamp(3rem, 9vw, 11rem);
}

.baristas_platform h2 {
    font-size: clamp(2rem, 8vw, 3rem);
    font-weight: 800;
    max-width: clamp(10rem, 81vw, 80rem);
    line-height: 1.2;
}

.baristas_platform p {

}








section.contact {
    position: relative;
}

.contact .form_ctnr {
    width: clamp(10rem, 85vw, 60rem);
    padding: clamp(4rem, 5vw, 9rem) clamp(1rem, 6vw, 7rem);
    margin-inline: auto;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}

.contact .form_ctnr .slice {

}

.contact .form_ctnr .slice:first-of-type {
    
}

.contact .form_ctnr .slice:last-of-type {
    
}

.contact > .slice {
    width: 100%;
    position: absolute;
    bottom: -2.4rem;
    height: 3rem;
    transform: rotate(180deg);
    z-index: 4;
}

.contact .city {
    position: absolute;
    background-position: 50% 6rem;
    background-size: contain;
    background-repeat: repeat no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: clamp(10rem, 100vw, 87rem);
    z-index: 2;
}

.contact .rec1 {
    position: absolute;
    z-index: 1;
    bottom: -3rem;
    width: clamp(5rem, 80vw, 44rem);
    transform: rotate(-5deg);
    left: 5vw;
}

















@media screen and (min-width:900px) {
    .intro .color_bg:first-of-type {
        width: calc(58vw - 40rem);
    }
    .intro .color_bg:nth-of-type(2) {
        width: clamp(1rem, calc(57vw - 18rem), 177rem);
    }

    .intro .content {
        margin-bottom: unset;
    }

    .mission .content {
        padding-bottom: unset;
        margin-bottom: 13rem;
    }

    .mission p {
        max-width: clamp(10rem, 50vw, 67rem);
    }

    .mission .composition {
        position: absolute;
        right:0;
        bottom: 0;
    }

    section.baristas_platform {
        max-width: calc(var(--width-3) + var(--corner-width-3));
        /* justify-content: space-between; */
    }

    .baristas_platform .composition {
        width: unset;
        min-width: clamp(10rem, 38vw, 80rem);
        flex: 1;
        max-width: clamp(10rem, 45vw, 120rem);
        height: fit-content;
        position: sticky;
        top: -1rem;
    }

    .baristas_platform .content {
        max-width: clamp(15rem, 35vw, 67rem);
        margin-inline: unset;
    }

    
    section.contact {
        padding-top: 9rem;
    }
    
}





@media screen and (min-width:1300px) {
    section.intro {
        padding-top: 10rem;
    }
}