---
interface Props {
	title?: string;
	description?: string;
	keywords?: string;
}

const { title, description, keywords } = Astro.props;

import BaseHead from '../components/BaseHead.astro';
import OQVABadge from '../components/OQVABadge.astro';
import Footer from '../components/Footer.astro';

import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS, OG_IMAGE } from "../../consts";

---

<!doctype html>
<html lang="en">
	<BaseHead 
	title={title ? title : SITE_TITLE}
	description={description ? description : SITE_DESCRIPTION}
	keywords={keywords ? keywords : SITE_KEYWORDS} />

	<body id="home">
		<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHQ7DX5V" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div id="noise_bg"></div>
		
		<slot />

		<Footer/>
		<OQVABadge/>
	</body>
</html>