---
interface Props {
	title: string;
}

const { title } = Astro.props;

import BaseHead from '../components/BaseHead.astro';
import OQVABadge from '../components/OQVABadge.astro';
import Footer from '../components/Footer.astro';

---

<!doctype html>
<html lang="en">
	<BaseHead title={title}/>

	<body id="home">
		<div id="noise_bg"></div>
		
		<slot />

		<Footer/>
		<OQVABadge/>
	</body>
</html>